* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

.event-input h1 {
  font-size: 3rem;
  color: #718371;
  font-weight: 500;
  opacity: 0.8;
  display: inline;
  width: 50%;
  margin-top: 0.5rem;
}

.user-info h2,
.user-info p,
.square2 h2 {
  color: #404042;
  font-weight: 500;
  opacity: 0.8;
}

.link h3,
.square2 h3 {
  color: #404042;
  font-weight: 400;
  opacity: 0.8;
}

/* #72afa4, #6dc2b3 */
.member-main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /* background: linear-gradient(to right top, #d8d3cd, #f7f2e7); */
  background: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .member-profile {
  height: 250px;
  clip-path: circle();
  position: relative;
  margin-top: -15%;
  margin-bottom: 0.5rem;
}

.glass {
  background: white;
  min-height: 70vh;
  /* need to check width */
  width: 85%;
  /* didn't have margin-top before */
  margin-top: 70px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  /* box-shadow: 2px 2px 2px rgba(122, 122, 122, 0.2); */
}

.dashboard {
  flex: 1;
  display: flex; /*this is needed because we need to use align-items*/
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
}

.user {
  position: absolute;
}

.user .user-info {
  margin-top: -40%;
}

/* SIDE MENU */
.links {
  margin-top: 119%;
  text-decoration: none;
}

.link button {
  border: none;
  background-color: #adc2a9;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  width: 9rem;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
}

.link button:hover {
  background-color: white;
  color: #adc2a9;
  cursor: pointer;

  transition-duration: 0.4s;
}

.side-bar-event,
.side-bar-wishlist {
  display: flex;
  padding: 0rem;
}
.side-bar-event button,
.side-bar-wishlist button {
  margin: 0;
  transition-duration: 0.4s;
}

.second-menu-event,
.second-menu-wishlist {
  position: absolute;
  /* border: red solid 1px; */
  padding: 0rem 0rem 0rem 1rem;
  margin-left: 8.5rem;
  z-index: 100;
}

.second-menu-event {
  bottom: 6.7rem;
}

.second-menu-wishlist li {
  width: 5.3rem;
}

.second-menu-wishlist {
  bottom: 1.7rem;
}

.second-menu-event li,
.second-menu-wishlist li {
  display: none;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  border: #adc2a9 solid 2px;
  border-radius: 0.5rem;
}

.side-bar-event li:hover > ul > li,
.side-bar-wishlist li:hover > ul > li {
  display: block;
}

.second-menu-event li,
.second-menu-wishlist li {
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.second-menu-event li:hover,
.second-menu-wishlist li:hover {
  background-color: #adc2a9;
  color: white;
}

/* 揪團紀錄 SECTION */
.events {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 0;
}

/* SEARCH BAR */
.event-input {
  margin-top: -2%;
  margin-bottom: 2rem;
  display: flex;
  /* align-items: center; */
}

.search-bar .search-input {
  /* padding-left: 2rem; */
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  float: right;
}

.fa-search {
  position: absolute;
  right: 27.5rem;
  top: 0.4rem;
}

.sort-buttons .search-input {
  float: right;
}

.sort-buttons input {
  border: none;
  width: 200%;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  outline: none !important;
}

.sort-buttons input:focus {
  outline: none !important;
  border-color: solid #adc2a9;
  box-shadow: 0 0 5px #adc2a9;
}

/* SORT BY BUTTONS */
.events .sort-button {
  border: none;
  padding: 0.3rem 1rem;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  border: 2px solid #adc2a9;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
}

.events .sort-button:hover {
  background-color: #adc2a9;
  color: white;
}

/* CARDS */

.cards {
  overflow: auto;
  overflow-anchor: none;
  height: 22rem;
}

.cards::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.cards::-webkit-scrollbar-thumb {
  background: #d3e4cd;
  border-radius: 0.2rem;
  visibility: hidden;
}
.cards:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.card-1,
.card-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.7;
  border-radius: 0.5rem;
  margin: 0rem 0.4rem 0.5rem 0rem;
  padding: 0.6rem;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
}

.card-1 {
  background-color: #d3e4cd;
}

.card-2 {
  background-color: white;
}

.cards .order-status {
  width: 6.5rem;
}

.cards .order-no {
  width: 8.5rem;
}

.cards .order-date {
  width: 10.5rem;
}

.cards .order-sum {
  width: 9.5rem;
}

/* CARDS BUTTONS */
.card-1 button {
  border: none;
  color: #adc2a9;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  border: 2px solid white;
}

.card-1 button:hover {
  background-color: #adc2a9;
  color: white;
}

.card-2 button {
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  border: 2px solid #adc2a9;
}

.card-2 button:hover {
  background-color: #adc2a9;
  color: white;
}

/* MODAL WINDOW */
.modal-done,
.modal-intransit,
.modal-returned {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f3f3f3;
  padding: 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 1rem;
}

.modal-done {
  width: 30rem;
  height: 33rem;
}

.model-intransit {
  width: 30rem;
  height: 30rem;
}

.overlay-done,
.overlay-intransit,
.overlay-returned {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal-done,
.btn--close-modal-intransit,
.btn--close-modal-returned {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal__header {
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-sub-header {
  text-align: center;
  margin-bottom: 1rem;
}

.modal__container {
  display: flex;
  height: 75%;
}

/* BOXES- BOX1 */
.modal-box1 {
  width: 100%;
  /* border: solid 1px red; */
}

.modal-event-details li {
  margin-bottom: 0.5rem;
}

.order-list {
  border-radius: 0.5rem;
  height: 7rem;
  overflow: auto;
  margin-left: 0.3rem;
  overflow-anchor: none;
  margin-bottom: 0.5rem;
}

.item-2,
.item-1 {
  display: flex;
  font-size: small;
  margin: 0rem 0.3rem 0.3rem 0.3rem;
  border-radius: 0.3rem;
  vertical-align: center;
}

.item-1 {
  background-color: #d3e4cd;
}

.item-2 {
  border: solid 2px #d3e4cd;
}

.order-list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.order-list::-webkit-scrollbar-thumb {
  background: #d3e4cd;
  border-radius: 0.2rem;
  visibility: hidden;
}
.order-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.order-item li {
  padding-top: 0.3rem;
}

.item-name {
  margin-left: 0.3rem;
  width: 7.5rem;
}

.item-size {
  width: 5.5rem;
}

.item-quantity {
  width: 3rem;
}

.modal-order-sum {
  width: 100%;
  text-align: right;
  margin-bottom: 1.5rem;
}

.notes {
  margin-top: 0.4rem;
}

.notes li {
  font-size: small;
}

/* BOX2 BUTTONS */
.box2 {
  /* border: yellow 1px solid; */
  display: flex;
}

.confirm-buttons-container {
  /* border: 1px red solid; */
  width: 35%;
  padding: 1rem;
}

.shipping-info {
  /* border: green 1px solid; */
  width: 65%;
}
.confirm-buttons-container button {
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
}

.confirm-buttons-container button {
  background-color: white;
  color: black;
  border: 2px solid #c5c5c5;
}

.confirm-buttons-container button:hover {
  background-color: #c5c5c5;
  color: white;
}

.confirm-buttons-container .submit-button {
  text-align: center;
  margin-bottom: 0.5rem;
}

.shipping-info button {
  margin-top: 0.7rem;
}
