* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.user-info h2,
.user-info p,
.square2 h2 {
  color: #404042;
  font-weight: 500;
  opacity: 0.8;
}

.link h3,
.square2 h3 {
  color: #404042;
  font-weight: 400;
  opacity: 0.8;
}

.member_main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member_profile {
  height: 250px;
  clip-path: circle();
  position: relative;
  margin-top: -15%;
  margin-bottom: 0.5rem;
}

.glass {
  background: white;
  min-height: 70vh;
  /* need to check width */
  width: 85%;
  /* didn't have margin-top before */
  margin-top: 70px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  z-index: 1;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex; /*this is needed because we need to use align-items*/
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
}

.user {
  position: absolute;
}

.user .user-info {
  margin-top: -40%;
}

/* SIDE MENU */
.links {
  margin-top: 119%;
  text-decoration: none;
}

.link button {
  border: none;
  background-color: #adc2a9;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  width: 9rem;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
}

.link button:hover {
  background-color: white;
  color: #adc2a9;
  cursor: pointer;

  transition-duration: 0.4s;
}

.events {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 0;
}

.event-input h1 {
  width: 50%;
}

/* Calendar */

.calendar-map .icons {
  /* border: solid red 2px; */
  width: 8%;
  position: absolute;
  display: flex;
  margin-top: 1rem;
  margin-left: 23rem;
}

.icon1,
.icon2 {
  float: right;
  margin-right: 1.5rem;
  transition-duration: 0.4s;
}
.icon1:hover,
.icon2:hover {
  /* background-color: #adc2a9; */
  color: #adc2a9;
}
.events .calendar {
  width: 25rem;
  height: 25rem;
  margin: 3rem 4rem;
  z-index: 3;
  border-radius: 1rem;
}

.events img {
  width: 25rem;
  border-radius: 1.5rem;
}

/* THE SQUARES */
.square1,
.square2 {
  height: 18rem;
  width: 18rem;
  position: absolute;
  border-radius: 1rem;
  z-index: 3;
}
/* back square */
.square1 {
  background: #718371;
  opacity: 0.5;
  top: 28%;
  right: 13%;
}

/* front square */
.square2 {
  background: #d3e4cd;
  top: 35%;
  right: 17%;
  text-align: center;
}

.square2 ul {
  list-style: none;
  padding: 1.5rem 1rem 1rem 1rem;
}

.square2 .date {
  margin-bottom: 1.5rem;
}
.square2 h3 {
  margin: 1rem;
}

.square2 button {
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.square2 button:hover {
  background-color: #adc2a9;
  color: white;
}

/* SIDE MENU */
.side-bar-event,
.side-bar-wishlist {
  display: flex;
  padding: 0rem;
}
.side-bar-event button,
.side-bar-wishlist button {
  margin: 0;
  transition-duration: 0.4s;
}

.second-menu-event,
.second-menu-wishlist {
  position: absolute;
  /* border: red solid 1px; */
  padding: 0rem 0rem 0rem 1rem;
  margin-left: 8.5rem;
  z-index: 100;
}

.second-menu-event {
  bottom: 6.7rem;
}

.second-menu-wishlist li {
  width: 5.3rem;
}

.second-menu-wishlist {
  bottom: 1.7rem;
}

.second-menu-event li,
.second-menu-wishlist li {
  display: none;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  border: #adc2a9 solid 2px;
  border-radius: 0.5rem;
}

.side-bar-event li:hover > ul > li,
.side-bar-wishlist li:hover > ul > li {
  display: block;
}

.second-menu-event li,
.second-menu-wishlist li {
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.second-menu-event li:hover,
.second-menu-wishlist li:hover {
  background-color: #adc2a9;
  color: white;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  height: 35rem;
  background-color: #f3f3f3;
  padding: 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal__header {
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-sub-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal__container {
  display: flex;
  height: 75%;
}

/* BOXES- BOX1 */
.modal-box1 {
  width: 50%;
}

.modal-event-details li {
  margin-bottom: 0.5rem;
}

/* BOX1 BUTTONS */
.modal-event-details button,
.cancel-event button {
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
}

.modal-event-details button,
.cancel-event button {
  background-color: white;
  color: black;
  border: 2px solid #adc2a9;
}

.modal-event-details button:hover,
.cancel-event button:hover {
  background-color: #adc2a9;
  color: white;
}

.modal-box1 .submit-button {
  text-align: center;
}

.cancel-event button {
  margin-top: 0.7rem;
}

/* BOXES- BOX1 FORMS */

.cancel-title {
  margin-top: 1.5rem;
  display: flex;
}

.cancel-title h3 {
  width: 5rem;
}

.cancel-title p {
  height: 2rem;
  align-items: bottom;
  /* is there a better way to do this? */
  margin-top: 0.2rem;
}

.form-cancel-reason .reason {
  display: flex;
  width: 100%;
}

.reason label {
  width: 40%;
}

/* BOXES- BOX2 */
.modal-box2 {
  border: solid #718371 2px;
  width: 50%;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem 0rem 1rem;
}

.modal-box2 h4 {
  width: 4.5rem;
  text-align: center;
  background-color: #f3f3f3;
  margin-top: -0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
}

.modal-box2 ul {
  display: flex;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.modal-box2 .attendee-1 {
  background-color: #d3e4cd;
}

.modal-box2 .attendee-2 {
  border: solid 2px #d3e4cd;
}

.attendee-item .member-profile {
  height: 60px;
  margin: -0.5rem 0rem;
  clip-path: circle();
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.modal-box2 .attendee-name {
  width: 3.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.modal-box2 .attendee-email {
  width: 10rem;
  display: flex;
  align-items: center;
}

.attendee-list {
  overflow: auto;
  overflow-anchor: none;
  height: 20.5rem;
}

.attendee-list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.attendee-list::-webkit-scrollbar-thumb {
  background: #d3e4cd;
  border-radius: 0.2rem;
  visibility: hidden;
}
.attendee-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* SIDE MENU */
.side-bar-event,
.side-bar-wishlist {
  display: flex;
  padding: 0rem;
}
.side-bar-event button,
.side-bar-wishlist button {
  margin: 0;
  transition-duration: 0.4s;
}

.second-menu-event,
.second-menu-wishlist {
  position: absolute;
  /* border: red solid 1px; */
  padding: 0rem 0rem 0rem 1rem;
  margin-left: 8.5rem;
  z-index: 100;
}

.second-menu-event {
  bottom: 5rem;
}

.second-menu-wishlist li {
  width: 5.3rem;
}

.second-menu-wishlist {
  bottom: 0.2rem;
}

.second-menu-event li,
.second-menu-wishlist li {
  display: none;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  border: #adc2a9 solid 2px;
  border-radius: 0.5rem;
}

.side-bar-event li:hover > ul > li,
.side-bar-wishlist li:hover > ul > li {
  display: block;
}

.second-menu-event li,
.second-menu-wishlist li {
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.second-menu-event li:hover,
.second-menu-wishlist li:hover {
  background-color: #adc2a9;
  color: white;
}
